@charset "utf-8";
body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  width: 300px;
  margin: 60px auto;
}
table{
  border-collapse: collapse;
  border: 2px solid #eee;
}
thead,
tfoot{
  background: #eee;
}
th, td{
  padding: 8px;
  text-align: center;
}
button{
  all: unset;
}
#leftButton, #rightButton, button{
  cursor: pointer;
  user-select: none;
}
tbody td:first-child{
  color: red;
}
tbody td:last-child{
  color: blue;
}
tfoot{
  font-weight: bold;
}
td.disabled{
  opacity: 0.3;
}
td.today{
  font-weight: bold;
  background: yellow;
}